.input-fill-outline.sc-ion-input-md-h {
    --border-color: var(--ion-color-primary);
    --border-width: 2px;
    --border-radius: var(--dana-border-radius);
}

ion-button {
    --border-radius: var(--dana-border-radius);
}