.translate-50 {
    transform: translate(-50%, -50%);
}

.bg-secondary {
    background: var(--ion-color-secondary);
}

.text-medium {
    color: var(--ion-color-medium);
}

.divider {
    width: 100vw;
    height: 3px;
}

.img-cover {
    object-fit: cover;
}

.low-brightness {
    filter: brightness(50%);
}

.filter-gray {
    filter: grayscale(1) brightness(50%);
}